body{
    background-color: #cabfb6;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}


.main{
    background-color: white;
    width: 600px;
    margin: auto;
    padding: 100px;
    text-align: center;
    
}
    
img{
    width: 650px;
    height: 350px;
}

button{
    
    background-color: #c9793b;
    color: black;
    padding: 7px;
    border: 1px solid grey;
    text-align: center;

    

    
    

}

.Android{
    background-color: #a4c93b;
    font-size: 20px;
    padding: 2px 10px;
    margin: 5px;
}

.Apple{
    background-color: #b6bcca;
    font-size: 20px;
    padding: 2px 10px;
}
.explore{
    text-align: right;
    margin: 5px;
}
h2{
    font-family:'Proza Libre', sans-serif;
    text-align: center;
}
a:hover{
    border: 2px solid black;
    
    
    
}


    
